<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Place</th>
      <th>Description</th>
      <th>Rating</th>
      <th>My rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each places}}
      <tr>
        <td>
          {{this.name}}
        </td>
        <td>
          {{this.description}}
        </td>
        <td>
          {{this.averageRating}}
        </td>
        <td>
          {{> vote}}
        </td>
        <td>
          <a id="open-place" class="button" href="/category/{{categoryId}}/place/{{_id}}">
            <span class="icon is-small">
              {{> open-image}}
            </span>
          </a>
          <a id="delete-place" class="button is-hidden" href="/category/{{categoryId}}/delete_place/{{_id}}">
            <span class="icon is-small">
              {{> delete-image}}
            </span>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>